<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header" data-delay="1000">
    <img src="..." class="rounded mr-2" alt="...">
    <strong class="mr-auto">Bootstrap</strong>
    <small>11 mins ago</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Invite link copied!
  </div>
</div>

<div class="group-box">
  <div class="group-box__header">
    <h4>Welcome <%= current_user.username%></h4>
  </div>
  <div class="group-box__groups">
    <div class="accordion" id="groupAccordion">
      <% current_user.groups.each do |group| %>
        <div class="card">
          <div class="card-header" id="group<%= group.id %>">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= group.id %>" aria-expanded="true" aria-controls="collapse<%= group.id %>">
                <%= group.name %>
              </button>
            </h2>
          </div>

          <div id="collapse<%= group.id %>" class="collapse" aria-labelledby="heading<%= group.id %>" data-parent="#groupAccordion">
            <div class="card-body">
              <div class="invite-box" data-controller="invite">
                <h5>Invite Link:</h5>
                <input id="group_url" type="text" size="50" value="<%= new_group_membership_url(group) %>" data-target="invite.url"/>
                <div class="card-body__btns">
                  <button class="btn btn-outline-danger" data-action="click->invite#regenerate">Regenerate</button>
                  <button class="btn btn-outline-secondary" data-action="click->invite#copy">Copy Link</button>
                </div>
              </div>
              <h5>Group Members:</h5>
              <% group.users.each do |user| %>
                <p><%= user.username %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



