<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 24px; right: 24px;" data-delay="2000">
  <div class="toast-header" >
    <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/4_grande.png?v=1571606116" class="rounded mr-2" alt="party">
    <strong class="mr-auto">Notification</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Link copied to clipboard!
  </div>
</div>

<%# TODO: Add a toast for when a link is regenerated %>

<div class="group-box">
  <div class="group-box__header">
    <h4>Welcome <%= current_user.username%></h4>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  </div>
  <div class="group-box__groups">
    <div class="accordion" id="groupAccordion">
      <% current_user.groups.each do |group| %>
        <div class="card">
          <div class="card-header" id="group<%= group.id %>">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= group.id %>" aria-expanded="true" aria-controls="collapse<%= group.id %>">
                <%= group.name %>
              </button>
            </h2>
          </div>

          <div id="collapse<%= group.id %>" class="collapse" aria-labelledby="heading<%= group.id %>" data-parent="#groupAccordion">
            <div class="card-body">
              <div class="invite-box" data-controller="invite">
                <h5>Invite Link:</h5>
                <input class="group-url" type="text" size="50" value="<%= new_group_membership_url(group) %>" data-target="invite.url" data-group-id="<%= group.id %>"/>
                <div class="card-body__btns">
                  <button class="btn btn-outline-danger" data-action="click->invite#regenerate">Regenerate</button>
                  <button class="btn btn-outline-secondary" data-action="click->invite#copy">Copy Link</button>
                </div>
              </div>
              <h5>Group Members:</h5>
              <% group.users.each do |user| %>
                <p><%= user.username %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



